.checkOut_bar {
  height: 50px;
  max-width: 1024px;
  background: #1c86ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #fff;
  padding: 0 10px;
  margin: 0 auto;
}
.checkOut_bar_sec1 {
  width: 69%;
  display: flex;
  justify-content: space-between;
  /* border: solid red; */
}

.checkout_cards {
  display: flex;
  gap: 20px;
  flex-direction: column;
  /* align-items: self-end; */
  /* justify-content: flex-end; */
}
.checkout_card {
  margin: 0 auto;
  max-width: 1024px;
  width: 97%;
  /* border: solid; */
  box-shadow: 4px 2px 5px rgb(229, 226, 226);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.checkout_card_section {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #fcb3b3; */
}
.checkout_card_sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: aqua solid; */
  /* display: flex; */
}
.checkout_card_sec1 figure {
  /* border: rgb(182, 178, 178) solid; */
  height: 50px;
  width: 50px;
}
.checkout_card_sec1 figure img {
  height: 100%;
  width: 100%;
}
.qty {
  height: 30px;
  width: 30px;
  padding: 4px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
    /* background: #000; */
    height: 40px;
  width: 69%;
}
.subtotal {
  display: flex;

  justify-content: space-between;
  margin: 0 auto;
  /* max-width: 1024px; */
  width: 31%;
  /* border: solid 1px; */
  /* position: relative; */
  /* float: left; */
  /* float: right; */
}
